* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Inter', sans-serif;
}

button, input, textarea {
  font-family: 'Inter', sans-serif;
}

input, textarea {
  border: none;
  outline: none;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-100%);
}

.slide-fade-down-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-down-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-down-enter-from,
.slide-fade-down-leave-to {
  transform: translateY(100%);
}
